boltons==21.0.0
certifi==2021.10.8
charset-normalizer==2.0.9
docopt==0.6.2
environs==9.5.0
idna==3.4
marshmallow==3.18.0
msgpack==1.0.4
packaging==21.3
pendulum==2.1.2
pip==22.2.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
pytzdata==2020.1
requests==2.27.1
setuptools==65.4.1
six==1.16.0
sourcedefender==10.0.7
TgCrypto==1.2.4
urllib3==1.26.12
wheel==0.37.1
